
.formContainer {
	display: flex;
	flex-direction: column;
	width: 700px;
	padding: 20px;

}

.input-text {
	width: 100%;
	padding: 15px;
	margin: 5px 0 20px 0;
	border: none;
	background: #eee;

}


.add-map-container {
	margin-bottom: 30px;
}

.btn-add-event{
	width: 80px;
}

.display-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
