.dashboard-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 250px;
    height: 220px;

}